*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', 'sans-serif';
    font-size: 17px;
    font-size: 400;
    color: #333;
}

.header {
    clear: both;
    background-color: #fdfdfd;
    height: 120px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1); 
}

.header-img {
    float: left;
    margin-left: 2rem;
    margin-top: -2rem;
    padding-top: 1.5rem;
}
.top-navigation {
    margin: 0 2rem;
}
.left-side-menu, 
.right-side-menu {
    list-style-type: none;
    margin-top: .8rem;
}

.left-side-menu {
    float: left;
    margin-left: 2.4rem;
}

.right-side-menu {
    float: right;
}

.left-item-menu, 
.right-item-menu  {
    display: inline-flex;
}

.left-link-menu,
.right-link-menu {
    text-decoration: none;
    font-size: 14px;
    padding: .6rem;
    color: #333;
}
.location-link {
    text-decoration:  underline;
    color: #08fc;
}

.nav {
    list-style-type:  none;
    float: right;
    margin-right: 22.5rem;
    padding-top: .5rem;
}

.nav-dropdown .nav-item {
    display: block;
    transition-duration: 0.5s;
}

.nav .nav-dropdown {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition:  all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

.nav .dropmenu:hover .nav-dropdown {
    visibility: visible;
    opacity: 1;
    display: block;
}


.nav-item {
    display: inline-flex;
    margin-right: 5px;
}

.nav-link {
    text-decoration: none;
    color: #333;
    padding: 5px;
    font-weight: 400;
}

.nav-link:hover {
    cursor: pointer;
    border-bottom: 1px solid #ffc72c;
}

.cta-btn {
    border: none;
    padding: 8px;
    background-color: #ffc72c;
    font-size: 1rem;
    border-radius: 5%;

}

.description {
    margin-bottom: 10px
}

.small-text {
    font-size: .8rem;
}

.mb-10 {
    margin-bottom: 10rem !important;
}

.mtop-8 {
    margin-top: 8rem;
}

.btn {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 1rem;
}

.btn:hover {
    cursor: pointer;
}
.cta-link {
    text-decoration:  none;
    color: #333;
   
}

.footer {
    background-color: #f7f7f7;
    padding: 10rem;
}

.footer .subtitle {
    font-weight: 700;
}

.nav-item-footer {
    margin-bottom: .5rem;
}

.nav-link-footer {
    list-style-type:  none;
    color: #333;
}

.divider {
    border-top: 1px solid #d3d3d3;
    margin-top: 5rem;
    width: 100%;

}

.copyright {
   margin-left: 2.8rem;
}

.bottom-footer-navigation {

}

.sub-nav-footer {
    display: inline-flex;
}

 .sub-nav-item {
    padding: 1rem;
    font-size: 15px;
}